<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
    <bean id="settingClass" class="it.nexus.core.SettingClass">
        <!-- 到哪些包下去找Access信息 -->
        <property name="accessToScan">
            <list>
                <value>it.nexus.enterprise.system</value>
                <value>net.psi</value>
            </list>
        </property>
        <property name="pluginMatching">
            <list>
                <value>nexus-*.*\.jar</value>
                <value>psi*.*\.jar</value>
            </list>
        </property>
        <property name="debugModule">
            <value>true</value>
        </property>
    </bean>
</beans>