<?xml version="1.0" encoding="UTF-8"?>
<Plugin name="system" displayName="系统模块" class="plugin.system.PluginClass" >
    <Requires>
        <!--<Plugin name="" version="1.0" />-->
    </Requires>
	<Menus>
		<Menu id="01" name="基础信息">
			<Menu id="01" name="部门">
				<Menu id="01" name="新建" url="system/dept/create" roles="system.部门.新建" />
				<Menu id="02" name="列表" url="system/dept/list" roles="system.部门.访问" />
			</Menu>
			<Menu id="02" name="员工">
				<Menu id="01" name="新建" url="system/employee/create"
					roles="system.员工.新建" />
				<Menu id="02" name="列表" url="system/employee/list"
					roles="system.员工.访问" />
			</Menu>
		</Menu>
		<Menu id="90" name="系统管理">
			<Menu id="01" name="用户管理" url="system/user/list"  roles="system.用户管理.访问"/>
			<Menu id="02" name="权限管理" url="permission/list" roles="system.权限管理.访问"/>
		</Menu>
	</Menus>
</Plugin>